.favourite {
  &__in {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    // display: grid;
    // grid-template-columns: repeat(5, minmax(0, 1fr));
    // gap: 20px 10px;
  }

  &__cart {
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    //display: block;
    // flex-direction: column;

    gap: 10px;
    flex-wrap: wrap;
  }

  .product__img {
    width: 192px;
    height: 250px;
    position: relative;
  }

  .product__img img {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .product__info h3,
  p {
    width: 192px;
  }

  &__controls {
    max-width: 320px;
    background: var(--plate-color);
    padding: 20px 20px 30px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    position: sticky;
    top: 18px;

    .btn {
      margin-bottom: 1em;
    }
  }

  &__price {
    font-size: 2.5em;
    margin-bottom: 0.3em;
  }

  &__empty {
    display: none;
  }

  &.is__empty {
    .checkout__empty {
      display: block;
    }

    .checkout__in {
      display: none;
    }
  }
}
